fastapi
uvicorn[standard]        # includes 'httptools', 'uvloop'
requests
httpx
apscheduler
pydantic
geopy
cohere
python-dotenv           # nếu muốn load .env local (Render không cần)
google-generativeai
